:root {
  --size: 80px;
}

html,body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}